.hightlight-search-result {
    background-color: aquamarine;
}

.row > * {
    border: 1px solid #b3b1b1;
}

/*****************************************************************************************************/
/*                                          ГЛАВНАЯ СТРАНИЦА                                         */
/*****************************************************************************************************/
.some-class {
    position: relative !important;
}

.div-search-rule {
    border: none;
}

.div-search-deputy {
    border: none;
}

.no-border {
    border: none;
}

.top-title {
    height: 80px;
    background-color: lightgrey;
    font-size: 50px;
    text-align: center;
}

.main-top-select {
    font-size: 120%;
    text-align: center;
}

.rules-in-table-index tr:nth-child(odd){
    background-color: #e3e3e3;
}

.new-rule-td {
    width: 220px;
}

.most-visits-td {
    text-align: center;
}

.card-title {
    text-align: center;
}

.card-my-scroll {
    overflow-y: scroll;
    height: 225px;
    margin-bottom: 30px;
}

.col-title {
    background-color: lightblue;
    height: 60px;
}

.p-title {
    text-align: center;
    font-size: 30px;
}

.p-random-rule {
    margin-top: 15px;
    
}

.a-random-rule {
    color: black;
}

.search-rule-result {
    z-index: 100;
    overflow-y: scroll;
    height: 300px;
    background-color: #e5dcdc;
}

.search-deputy-result {
    z-index: 100;
    overflow-y: scroll;
    height: 150px;
    background-color: #f0eaea;
    margin-left: 13px;  
}

.test {
    background-color: white;
    border: none;
}


/*****************************************************************************************************/
/*                                          СТРАНИЦА ЗАКОНА                                          */
/*****************************************************************************************************/

#div-set-likes, #div-set-dislikes, #div-span-likes, #div-span-dislikes {
    text-align: center;
}

button {
    cursor: pointer;
}

#set-likes, #set-dislikes {
    width: 200px;
    height: 70px;
    margin-top: 30px;
    font-size: 30px;
}

.button-liked {
    background-color: green;
}

.button-disliked {
    background-color: red;
}

.button-not-liked, .button-not-disliked {
    background-color: lightgray;
}

.div-title {
    text-align: center;
}

#span-likes, #span-dislikes {
    padding-bottom: 20px;
    font-size: 40px;
}

.table-result-voting {
    margin-top: 40px;
}

#DeputyChart, #VoxPopuliChart {
    margin-top: 9px;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-comment {
    margin-left: 10px;
}

#comment-textarea, #task-textarea, #suggestion-textarea {
    width: 400px;
}

.rules-in-table-index td {
    font-size: 12px;
}

.rules-in-table-index td p {
    margin-top: 0;
    margin-bottom: 0;
}

.rules-in-table-index td:first-child{
    vertical-align: top;
}

.rules-in-table-index tr:nth-child(odd){
    background-color: #e3e3e3;
}

#drop1, #drop2, #drop3, #drop4, #drop5, #drop6, #drop7 {
    text-align: center;
}

#p-random-rule {
    margin-top: 15px;
}

#div-send-vote {
    display: flex;
    align-items: center;
    justify-content: center;
}

#select-vote-group {
    margin:50px 0;
}

#button-send-vote {
    margin-bottom: 50px;
    font-size: x-large;
}

.radio-font {
    font-size: x-large;
}

#footer {
    height: 200px;
}

#suggestion-title {
    margin-top: 30px;
    margin-bottom: 30px;
}

#footer p {
    margin-top: 50px;
}

#last-hr {
    margin-bottom: 300px;
}

.border-none {
    border: none;
}

#p-usefulness {
    text-align: center;
    font-size: xx-large;
}

.tasks-img {
    max-height: 2.5%;
    max-width: 2.5%;
    cursor: pointer;
}

.task-default {
    opacity: 0.4;
}

.task-agree {
    opacity: 1;
}

/* /////////////////////////////////// ДИАГРАММЫ И ТАБЛИЦЫ ГОЛОСОВАНИЯ ///////////////////////////////// */

.deputy-chart, .populi-chart {
    width: 200px !important;
    height: 200px !important;
    margin: auto;
}

.squ-yes, .squ-no, .squ-abs, .squ-not-v {
    width: 20px;
    height: 20px;
}

.squ-yes {
    background-color: green;
}

.squ-no {
    background-color: red;
}

.squ-abs {
    background-color: lightblue;
}

.squ-not-v {
    background-color: gray;
}

#v-yes, #p-yes {
    color: green;
    font-size: 14px;
    margin: 5px 0 5px 0;
}

#v-no, #p-no {
    color: red;
    font-size: 14px;
    margin: 5px 0 5px 0;
}

#v-abstained, #p-abstained {
    color: lightblue;
    font-size: 14px;
    margin: 5px 0 5px 0;
}

#v-not-vote {
    color: grey;
    font-size: 14px;
    margin: 5px 0 5px 0;
}

/* /////////////////////////////////////НУЖНОСТЬ ИЛИ НЕНУЖНОСТЬ ЗАКОНА/////////////////////////////////////// */

.necessity {
    text-align: center;
}

/*****************************************************************************************************/
/*                                          СТРАНИЦА ДЕПУТАТА                                        */
/*****************************************************************************************************/

.accordion-body {       /* Дополняю встроенный класс компонента */
    height: 200px;
    overflow-y: scroll;
}

.task-img {
    max-height: 2.5%;
    max-width: 2.5%;
    cursor: pointer;
    opacity: 0.3;
}

.task-img-clicked {
    opacity: 1;
}